<p-table #dt [columns]="allColumns" [value]="datas" [paginator]="true" [rows]="10" selectionMode="single"
    [(selection)]="selectedProductItem" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        List of Cars
    </ng-template>
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>  
            <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngSwitchCase="'quantity'">
                    Value > {{yearFilter}}
                    <!-- <i class="pi pi-times" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                    <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider> -->
                    <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="0"
                        [max]="100" (onChange)="dt.filter($event.value, col.field, 'gt')"></p-slider>
                </div>
                <p-dropdown *ngSwitchCase="'brand'" [options]="brands"
                    [style]="{'min-width':'1em', 'margin-left':'-10px'}" [panelStyle]="{minWidth:'12em'}"
                    [scrollHeight]="'500em'" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                <p-multiSelect *ngSwitchCase="'frequency'" [options]="colors" defaultLabel="All Colors"
                    [panelStyle]="{minWidth:'12em'}" [scrollHeight]="'500em'"
                    (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                <input *ngSwitchCase="'remark'" pInputText size="5" type="text" placeholder="Custom - Greater Than"
                    (input)="dt.filter($event.target.value, col.field, 'custom')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            There are {{datas?.length}} cars
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="ProductItem Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '1500px'}">
    <div class="ui-g ui-fluid" *ngIf="productItem">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="identification">identification</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="identification" [(ngModel)]="productItem.identification" autofocus />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="productItem.name" autofocus />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="categoryName">categoryName</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="categoryName" [(ngModel)]="productItem.categoryName" autofocus />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">brand</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="brand" [(ngModel)]="productItem.brand" autofocus />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="quantity">quantity</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="quantity" [(ngModel)]="productItem.quantity" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="specification">specification</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="specification" [(ngModel)]="productItem.specification" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="status">status</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="status" [(ngModel)]="productItem.status" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="depreciationDuration">depreciationDuration</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="depreciationDuration" [(ngModel)]="productItem.depreciationDuration" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="frequency">frequency</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="frequency" [(ngModel)]="productItem.frequency" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="satisfaction">satisfaction</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="satisfaction" [(ngModel)]="productItem.satisfaction" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="isAbandon">isAbandon</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="isAbandon" [(ngModel)]="productItem.isAbandon" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="canReplace">canReplace</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="canReplace" [(ngModel)]="productItem.canReplace" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="replaceItem">replaceItem</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="replaceItem" [(ngModel)]="productItem.replaceItem" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="replaceItemSource">replaceItemSource</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="replaceItemSource" [(ngModel)]="productItem.replaceItemSource" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="remark">remark</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="remark" [(ngModel)]="productItem.remark" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>